* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: auto;
  margin: 0 2rem;
  padding: 1rem;
  border: 2px solid yellow;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.dashboard .shape {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: aqua;
}
