/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  width: 100%;

  height: 500px;
  margin: 1rem auto;
  padding: min(16px, 3%);
  min-width: 300px;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;

  gap: min(16px, 3%);
  
  border: 2px solid yellow;
  border-radius: 8px;
}

.grid-cell {
  aspect-ratio: 1/1;
  border-radius: 8px;
  min-width: 0;
  padding: 0.5rem;

  width: 100%;
  height: 100%;
  border: 2px solid red;
  cursor: pointer;
}

.grid-cell:hover {
  border-color: white;
}

.card-back {
  filter: invert(0.9);
} */
