/* ---------------------[TEMPLATE STYLES]--------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body {
  --base-clr: #1d2c3e;
  --line-clr: oklch(from var(--hover-clr) clamp(0.4, calc(l * 1.2), 0.7) c h);
  --hover-clr: oklch(from var(--base-clr) clamp(0.5, calc(l * 1.2), 0.79) c h);
  --text-clr: hsl(0, 0%, 98%);
  --secondary-text-clr: oklch(from var(--text-clr) l c h / 0.7);
  --accent-clr: oklch(
    from var(--base-clr) clamp(0.68, calc(l * 1.8), 0.78)
      clamp(0.12, calc(c * 2.5), 0.3) calc(h + 180)
  );

  background-color: var(--base-clr);
  color: var(--text-clr);

  display: grid;
  grid-template-rows: minmax(50px, auto) 1fr minmax(50px, auto);
  min-height: 100vh;
  gap: 1rem;
  /* align-items: center; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid yellow;
}

header,
footer {
  width: 100%;
  padding-inline: min(30px, 3%);
  padding-block: min(16px, 2%);
}

header .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: end;
  gap: 2rem;
  /* transition: 300ms ease-in-out;
  box-shadow: 1px 0 0 color-mix(in oklch, var(--line-clr) 90%, transparent),
    4px 0 10px oklch(0 0 0 / 0.18), inset -1px 0 0 oklch(1 0 0 / 0.04); */
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.navbar li {
  list-style: none;
}

main {
  padding-inline: min(30px, 3%);
  padding-block: 0.2rem;

  margin-inline: 2rem;
  margin-block-start: 2rem;

  border: 1px solid green;
}

.main-header-container {
  /* height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-block-end: 2rem; */
  padding-inline: min(24px, 2.4%);
  padding-block: 0.5rem;
  /* border-bottom: 2px solid var(--line-clr); */
  margin-block-end: 1.6rem;
  border-radius: 1rem;
}

label[for="base-colour-input"] {
  background-color: var(--surface-clr);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* cursor: pointer; */
  border: 1px solid var(--line-clr);
  box-shadow: 0 0 0 1px color-mix(in oklch, var(--line-clr) 90%, transparent),
    inset 0 0 2px 1px color-mix(in oklch, var(--base-clr) 25%, transparent);
}

#base-colour-input {
  width: 2rem;
  height: 2rem;
  background: none;
  border: 1px solid var(--hover-clr);
  border-radius: 0.2rem;
  cursor: pointer;
}

.main-title {
  font-size: 1.6rem;
  font-weight: bold;
}

.container {
  box-shadow: 0 0 0 1px color-mix(in oklch, var(--line-clr) 90%, transparent),
    0 0 10px oklch(0 0 0 / 0.18),
    inset 0 0 2px 1px color-mix(in oklch, var(--base-clr) 25%, transparent);
  /* box-shadow: 0 0 0 1px var(--line-clr), 0 1px 2px oklch(0 0 0 / 0.15),
    inset 0 0 0 1px oklch(1 0 0 / 0.04); */
  border: 1px solid var(--line-clr);
  border-radius: 1rem;
  margin-bottom: 1.6rem;
  padding-inline: min(24px, 2.4%);
  padding-block: 1rem;
  color: var(--text-clr);
  background-color: var(--surface-clr);

  h2,
  p {
    margin-top: 1rem;
  }
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
  main {
    padding: 2rem 1rem 60px 1rem;
  }
  .main-header-container {
    padding-inline: 1rem;
    height: 50px;
  }
}

/* ------------------------------------------ */
