/* ---------------------[TEMPLATE STYLES]--------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body {
  --base-clr: #1d2c3e;
  --line-clr: oklch(from var(--hover-clr) clamp(0.4, calc(l * 1.2), 0.7) c h);
  --hover-clr: oklch(from var(--base-clr) clamp(0.5, calc(l * 1.2), 0.79) c h);
  --text-clr: hsl(0, 0%, 98%);
  --secondary-text-clr: oklch(from var(--text-clr) l c h / 0.7);
  --accent-clr: oklch(
    from var(--base-clr) clamp(0.68, calc(l * 1.8), 0.78)
      clamp(0.12, calc(c * 2.5), 0.3) calc(h + 180)
  );

  --main-font-size: clamp(1rem, 0.9rem + 0.6vw, 1.5rem);

  background-color: var(--base-clr);
  color: var(--text-clr);

  display: grid;
  grid-template-rows: minmax(50px, auto) 1fr minmax(50px, auto);
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
}

header,
footer {
  padding-inline: min(32px, 3%);
  padding-block: min(16px, 3%);
}

header {
  grid-row: 1;
  display: flex;

  justify-content: space-between;
  border-bottom: 2px solid var(--line-clr);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 2rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.navbar li {
  list-style: none;
  font-size: var(--main-font-size);
  cursor: pointer;
  padding: 0.5rem;
}

.navbar li:hover {
  color: var(--accent-clr);
}

.navbar .hamburger-menu-btn {
  display: none;
}

.navbar .close-menu-btn {
  display: none;
}

label[for="base-colour-input"] {
  background-color: var(--surface-clr);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: var(--main-font-size);

  border: 1px solid var(--line-clr);
  box-shadow:
    0 0 0 1px color-mix(in oklch, var(--line-clr) 90%, transparent),
    inset 0 0 2px 1px color-mix(in oklch, var(--base-clr) 25%, transparent);
}

#base-colour-input {
  width: 2rem;
  height: 2rem;
  background: none;
  border: 1px solid var(--line-clr);
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.colour-picker {
  padding-left: 2rem;
}

main {
  grid-row: 2;

  padding-inline: min(30px, 4%);
  padding-block: 0.2rem;

  margin-inline: min(32px, 3%);
  margin-block: 1rem;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
  align-items: center;
  border: 1px solid var(--accent-clr);
  width: 100%;
  max-width: 600px;

  padding: min(16px, 2%);
}

.grid-cell {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;

  border: 2px solid var(--line-clr);
  border-radius: 8px;
  width: 100%;
  min-width: 50px;
}

.grid-cell svg {
  width: 100%;
  padding: 4px;
  object-fit: contain;
  fill: var(--text-clr);
}

.grid-cell:hover {
  border-color: white;
}

footer {
  grid-row: 3;
  border-top: 2px solid var(--line-clr);
}

@media (max-width: 690px) {
  .navbar {
    display: flex;
    background: var(--surface-clr);
  }

  .navbar .navbar-items {
    position: fixed;
    right: 0;
    top: 0;
    height: 100dvh;
    width: 100%;

    transform: translateX(100%);
    background-color: var(--base-clr);
    border: 2px solid var(--line-clr);
    z-index: 9999;

    flex-direction: column;
    padding-block: 1rem;
    gap: 1.3rem;
  }

  .navbar .navbar-items > li:not(.menu-header) {
    border-bottom: 1px solid var(--accent-clr);
    width: 100px;
    text-align: center;
    font-size: 1.2rem;
  }

  .navbar .hamburger-menu-btn {
    display: flex;
    align-items: center;

    background: none;
    border: none;

    cursor: pointer;
  }

  .hamburger-menu-btn svg {
    display: block;
    width: 2rem;
    height: 2rem;
    filter: invert(0.9);
  }

  .menu-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-inline: 1.5rem;
  }

  .navbar .close-menu-btn {
    display: block;
    background: none;
    border: none;
    color: var(--text-clr);

    align-self: flex-end;
    cursor: pointer;

    position: fixed;
    top: 2px;
    right: 0;

    padding: 1rem;
  }

  .close-menu-btn svg {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    filter: invert(0.9);
  }

  .navbar-items.is-open {
    transform: translateX(0);
  }

  .nav-open {
    transition: transform 0.3s ease-in-out;
  }
  .nav-close {
    transition: transform 0.3s ease-in-out;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .colour-picker {
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  label[for="base-colour-input"] {
    justify-content: center;
  }
}

/* ------------------------------------------ */
