/* ---------------------[TEMPLATE STYLES]--------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body {
  --base-clr: #1d2c3e;
  --line-clr: oklch(from var(--hover-clr) clamp(0.4, calc(l * 1.2), 0.7) c h);
  --hover-clr: oklch(from var(--base-clr) clamp(0.5, calc(l * 1.2), 0.79) c h);
  --text-clr: hsl(0, 0%, 98%);
  --secondary-text-clr: oklch(from var(--text-clr) l c h / 0.7);
  --accent-clr: oklch(
    from var(--base-clr) clamp(0.68, calc(l * 1.8), 0.78)
      clamp(0.12, calc(c * 2.5), 0.3) calc(h + 180)
  );

  background-color: var(--base-clr);
  color: var(--text-clr);

  display: grid;
  grid-template-rows: minmax(50px, auto) 1fr minmax(50px, auto);
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
}

header,
footer {
  padding-inline: min(16px, 3%);
  padding-block: min(16px, 2%);
}

header {
  grid-row: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 2px solid var(--line-clr);
}

header .logo-container,
.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.navbar {
  display: flex;
  justify-content: end;
  gap: 2rem;
  /* transition: 300ms ease-in-out;
  box-shadow: 1px 0 0 color-mix(in oklch, var(--line-clr) 90%, transparent),
    4px 0 10px oklch(0 0 0 / 0.18), inset -1px 0 0 oklch(1 0 0 / 0.04); */
}

.navbar li {
  list-style: none;
}

label[for="base-colour-input"] {
  background-color: var(--surface-clr);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border: 1px solid var(--line-clr);
  box-shadow: 0 0 0 1px color-mix(in oklch, var(--line-clr) 90%, transparent),
    inset 0 0 2px 1px color-mix(in oklch, var(--base-clr) 25%, transparent);
}

#base-colour-input {
  width: 2rem;
  height: 2rem;
  background: none;
  border: 1px solid var(--line-clr);
  border-radius: 0.2rem;
  cursor: pointer;
}

main {
  grid-row: 2;

  padding-inline: min(30px, 2%);
  padding-block: 0.2rem;

  /* margin-inline: min(32px, 3%);
  margin-block: 1rem; */
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
  align-items: center;
  border: 1px solid orange;
  width: 100%;
  max-width: 600px;

  padding: min(16px, 2%);
}

.grid-cell {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;

  border: 1px solid red;
  border-radius: 8px;
  width: 100%;
  min-width: 50px;
}

.grid-cell img {
  width: 100%;
  padding: 4px;
  object-fit: contain;
}

.grid-cell:hover {
  border-color: white;
}

.card-back {
  filter: invert(0.9);
}

footer {
  grid-row: 3;
  border-top: 2px solid var(--line-clr);
}

/* @media (max-width: 400px) {
} */

/* ------------------------------------------ */
